BETTERSTACK_HOST=eu-nbg-2-connect.betterstackdata.com
BETTERSTACK_USERNAME=
BETTERSTACK_PASSWORD=
BETTERSTACK_DEALBOT_HOST=us-east-9-connect.betterstackdata.com
BETTERSTACK_DEALBOT_USERNAME=
BETTERSTACK_DEALBOT_PASSWORD=
BETTERSTACK_GLOBAL_TOKEN=
PORT=3848
